<footer class="footer">

    <!--<div class="footer-nav">-->
        <!--<a href="/">首页</a>-->
        <!--<a href="/">服务协议</a>-->
        <!--<a href="/">联系我们</a>-->
    <!--</div>-->
    <div class="sites">
        <span>优站精选：</span>
        <a href="http://www.88cto.com" target="_blank">Java笔记</a>
        <a href="http://www.qikenet.com" target="_blank">奇客问答</a>
        <a href="http://face.88cto.com" target="_blank">表情包</a>
        <a href="http://www.12apm.com" target="_blank">12APM</a>
    </div>
    <div>ICP：闽ICP备14007050号</div>
</footer>